<marked>
HealthAround.me is an [open source](https://github.com/CivicNinjas/HealthAround.me), web based, geo enabled health data mapping &amp; visualization tool to aggregate disparate public health data from multiple sources.

It was funded by a grant from the [Knight Foundation Prototype Fund](http://www.knightfoundation.org/funding-initiatives/knight-prototype-fund/) in 2013-2014.

*Data Sources and Service Area*
Our current data sources are:
- [U.S. Census Data](http://www.census.gov), American Community Survey, 2008-2012 5-year estimates
For this prototype, we've included data for the Northeast Oklahoma region.

*Team*
Civic Ninjas is:
- *Scott Philips*
- *Next Person*
- *Next Person*
</marked>
