<div class="large-letter-score {{letter_score | lowercase}}-score">
    <div ng-if="score" class="letter">
        {{letter_score}}
    </div>
    <div ng-if="!score" class="na">
        n/a
    </div>
</div>

<div ng-if="!score">
    <p>Loading your score&hellip;</p>
</div>

<input type="range" ng-model="score" min="0" max="1" step="0.01" style="width: 100%;">
<input type="text" ng-model="score" disabled>

<div ng-if="score">
    <h3>Explore the score</h3>
    <a class="btn btn-primary" ng-click="go_to_interaction('cards')">Cards</a>
    <a class="btn btn-primary" ng-click="go_to_interaction('bubble')">Bubble</a>
</div>
