<div class="dots">
{{makes|dots(stuff)}}
</div>

<div class="panel-group">
    <div class="panel">
        <div class="panel-header">
            <h3>Panel Title test</h3>
        </div>
        <div class="panel-body">
            <ul class="sentiment-bars">
                <li>
                    <a href="#">
                        <span class="score">67</span>
                        <i class="icon"></i>
                        <div class="score-bar">
                            <div class="bar" style="height: 67%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <span class="score">32</span>
                    <i class="icon"></i>
                    <div class="score-bar">
                        <div class="bar" style="height: 32%"></div>
                    </div>
                </li>
                <li>
                    <span class="score">90</span>
                    <i class="icon"></i>
                    <div class="score-bar">
                        <div class="bar" style="height: 90%"></div>
                    </div>
                </li>
                <li>
                    <span class="score">10</span>
                    <i class="icon"></i>
                    <div class="score-bar">
                        <div class="bar" style="height: 10%"></div>
                    </div>
                </li>
                <li>
                    <span class="score">56</span>
                    <i class="icon"></i>
                    <div class="score-bar">
                        <div class="bar" style="height: 56%"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h3>Panel Title test</h3>
        </div>
    </div>
</div>
