$base_font_size = 16px
main_border = rgba(0, 0, 0, 0.5)
card_padding = 25px

// colors
$good_color = #37D7B2
$bad_color = #F86C5F
$neutral_color = #EBC355

$menu_height = 40px
$nav_transition_duration = 0.3s
$nav_width = 200px

$menu_zindex = 1000
